/* Main Global Styles - Modular Architecture */

@import './variables.css';
@import './_reset.css';
@import './_typography.css';
@import './_buttons.css';
@import './_forms.css';
@import './_animations.css';
@import './_loading.css';
